#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

img:hover {
  cursor: pointer
}

#chatWindow {
  height: 150px;
  max-height: 150px;
  overflow: auto;
}

#dashboard {
  height: 400px;
}
.user-icon{
  height: 30px;
}

#gameBoard {
  height: 300px;
  max-height: 300px;
  overflow: auto;
}